.main {
  padding: 0 40px;
}

.container-fluid {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.creative {
  padding-left: 50px;
}

.sign {
  padding-left: 910px;
}

span {
  color: #6135D0;
}

.rasm {
  margin-top: 50px;
  width: 600px;
}

.global {
  display: flex;
}

.local {
  padding-left: 150px;
}

.welcome {
  line-height: 5px;
  font-size: 50px;
}

.login {
  color: #89888D;
}

.inputlar {
  padding-top: 20px;
}

input {
  width: 500px;
  height: 70px;
  margin: 20px 0;
  padding-left: 10px;
}

input::placeholder {
  font-size: 20px !important;
}

.username {
  border: 2px solid #6135D0;
}

.knopka {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.btn {
  background-color: #6135D0;
  padding: 25px 75px;
  border-radius: 40px;
  color: white;
  font-size: 22px;
  border: none;
  margin-right: 60px;
}

.ikonka {
  padding-top: 20px;
  display: flex;
}

.ikontext {
  padding-right: 60px;
}

.ikonrasm {
  width: 60px;
  height: 60px;
  padding-left: 0px;
}

.ikonrasm:nth-child(3) {
  width: 120px;
  height: 60px;
}

.ikonrasm:nth-child(4) {
  width: 50px;
  height: 60px;
}